
 
.square {
    width: 200px;
height: 100px;
color: yellow;
background-color: black;
margin: 30px 500px;
padding: 20px;
text-align: center;
}

.rectangle {
    width: 100px;
height: 100px;
color: blue ;
background-color: blueviolet;
margin: 30px 500px;
padding: 20px;
text-align: center;
}

.circle {
width: 180px;
height: 180px;
color: black;
background-color: green;
border-radius: 100%;
margin: 40px 500px;
padding: 20px;
 text-align: center;
}
.oval {
width: 200px;
height: 100px;
color: red;
background-color: gold;
border-radius: 160px;
margin: 10px 500px;
padding: 10px;

text-align: center;
}

.oval p {
    margin: auto;
}

